.App {
  text-align: center;
  height: 100vh;
}
.App-height {
  height: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#map {
        height: 100vh;
      }
      /* Optional: Makes the sample page fill the window. */
html, body {
     /*   height: 100%;*/
        margin: 0;
        padding: 0;
     }

#map{
	text-align: center;
	overflow: auto;
}

/*
#main {
	position: absolute;
	transition: margin-left .5s ease-in;
    padding: 20px;
    overflow:hidden;
    width:100%;
}
*/

.backdrop {
	position: fixed;
	background: white;
	box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 64px;
	left: 0;
	width: 70%;
	max-width: 400px;
	z-index: 200;
	bottom: 0;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

input[type=text] {
	width: 80%;
    border: 1px solid;
    padding: 10px;
    padding-left: 40px;
    background-color: white;
    background-position: 10px 10px; 
	background-repeat: no-repeat;
	background-image: url('/img/searchicon.png');
}